.btn {
    padding: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    &:not(.link) {
        background-color: #e7e7e7;
        padding: .5em 1em;
    }

    &:before {
        content: "";
        display: inherit;
        vertical-align: middle;
        height: 100%;
    }

    // colors

    &.primary {
        background-color: var(--primary-color);
        color: var(--primary-contrast-color);
    }

    &.secondary {
        background-color: var(--secondary-color);
        color: var(--secondary-contrast-color);
    }

    &.info {
        background-color: var(--info-color);
        color: var(--info-contrast-color);
    }

    &.success {
        background-color: var(--success-color);
        color: var(--success-contrast-color);
    }

    &.error {
        background-color: var(--error-color);
        color: var(--error-contrast-color);
    }

    &.warning {
        background-color: var(--warning-color);
        color: var(--warning-contrast-color);
    }

    &.link {
        color: var(--link-color);
    }

    &.outlined {
        background-color: transparent;
        border: 1px solid;

        &.primary {
            color: var(--primary-color);
            border-color: var(--primary-color);
        }

        &.secondary {
            color: var(--secondary-color);
            border-color: var(--secondary-color);
        }

        &.info {
            color: var(--info-color);
            border-color: var(--info-color);
        }

        &.success {
            color: var(--sucess-color);
            border-color: var(--sucess-color);
        }

        &.error {
            color: var(--error-color);
            border-color: var(--error-color);
        }

        &.warning {
            color: var(--warning-color);
            border-color: var(--warning-color);
        }
    }

    //size

    &.small {
        font-size: 0.85rem;
    }

    &.x-small {
        font-size: 0.7rem;
    }

    &.big {
        font-size: 1.25rem;
    }

    &.x-big {
        font-size: 1.50rem;
    }

    // styles

    &.rounded {
        border-radius: 20px;
    }

    &.disabled {
        opacity: .4;
        cursor: not-allowed;
    }
}

// group button
.btns {
    letter-spacing: -.31em;

    .btn {
        margin: 0;
        border-radius: 0;
        border-right: 1px solid rgba(0, 0, 0, .2);
        letter-spacing: normal;
    }

    :first-child {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    :last-child {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}