.row {
    display: flex;

    &:not(.no-wrap) {
        flex-wrap: wrap;
    }

    &.content-center {
        justify-content: center;
    }

    &.content-v-center {
        align-items: center;
    }
}

.col,
.column {
    display: flex;
    flex-direction: column;

    &.content-v-center {
        justify-content: center;
    }

    &.content-center {
        align-items: center;
    }
}