$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg : 992px;
$breakpoint-xl : 1200px;
$breakpoint-xxl : 1500px;

:root {
    --primary-color: #f6755e;
    --secondary-color: #25a2c3;
    --info-color: #8c9eff;
    --success-color: #4CAF50;
    --error-color: #b71c1c;
    --warning-color: #FFC107;

    // contrast color
    --primary-contrast-color: #fff;
    --secondary-contrast-color: #fff;
    --info-contrast-color: #fff;
    --success-contrast-color: #fff;
    --error-contrast-color: #fff;
    --warning-contrast-color: #fff;

    // link
    --link-color: #1867c0;

    // border
    --input-border-color: #dddfe2;
}